body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Karantina', sans-serif;
}

/*
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #222;
}
  */

.logo {
  color: red;
  font-size: 24px;
}

.search-bar input {
  background: #444;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.menu-icons {
  display: flex;
  gap: 10px;
}

.gallery-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.movie-card {
  width: 200px;
  text-align: center;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
}

.pagination {
  text-align: center;
  margin: 20px;
}