.gallery-container {
    margin: 100px auto 20px; 
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: 260px; 
    gap: 15px;
    overflow-y: auto; 
    padding-bottom: 20px;
}

/* Damit man scrollen kann, müssen genug Filme da sein */
.movie-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Einzelne Filmkarte */
.movie-card {
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Filmcover */
.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
